#* @vtlvariable name="dto" type="io.trzcinski.oasgen.apidefinition.dto.ApiModel" *#
#set( $package = ${path.replaceAll(${dto.name.pascalCase}, "").replaceAll("(src/main/java/|/.java)","").replaceAll("/", ".")} )
#set( $basePackage = ${basePath.replaceAll("(src/main/java/|/*.java)","").replaceAll("/", ".")} )
package $package;
#set ($typeMapping = {
    "Integer" : "Integer",
    "String" : "String",
    "Boolean" : "Boolean",
    "Object" : "Map<String, Object>",
    "Void" : "Void",
    "DateTime" : "java.time.LocalDateTime"
})

#foreach(${import} in ${dto.ownCrudImports})
import ${package}.dto.${import.name.pascalCase};
#end
#foreach(${import} in ${dto.externalCrudImports})
import ${basePackage}.${import.crud.snakeCaseLowercase}.dto.${import.name.pascalCase};
#end
import lombok.Data;
import org.springframework.lang.Nullable;
import java.util.List;

@Data
public class ${dto.name.pascalCase}{
#foreach(${var} in ${dto.properties})
#set( $type = $!{typeMapping.getOrDefault(${var.type.name.pascalCase}, ${var.type.name.pascalCase})} )
#if($var.type.list)
#set( $type = "List<$type>" )
#end
    #if($var.type.optional)@Nullable
    #end
private $type ${var.name};
#end
}