#* @vtlvariable name="dto" type="io.trzcinski.oasgen.apidefinition.dto.ApiModel" *#
#set( $package = ${path.replaceAll(${dto.name.pascalCase}, "").replaceAll("(src/main/kotlin/|/.kt)","").replaceAll("/", ".")} )
#set( $basePackage = ${basePath.replaceAll("(src/main/kotlin/|/*.kt)","").replaceAll("/", ".")} )
package $package
#set ($typeMapping = {
    "Integer" : "Int",
    "String" : "String",
    "Boolean" : "Boolean",
    "Object" : "Map<Object, Object>",
    "Void" : "Void",
    "DateTime" : "org.joda.time.DateTime"
})

#foreach(${import} in ${dto.ownCrudImports})
${import.name.pascalCase}
#end
#foreach(${import} in ${dto.externalCrudImports})${import.name.pascalCase}
#end

data class ${dto.name.pascalCase}(
    #foreach(${var} in ${dto.properties})
    val ${var.name}: $!{typeMapping.getOrDefault(${var.type.pascalCase}, ${var.type.pascalCase})}#if(!$var.optional)?#end,
    #end
)#* @vtlvariable name="dto" type="io.trzcinski.oasgen.apidefinition.dto.ApiModel" *#
#set( $package = ${path.replaceAll(${dto.name.pascalCase}, "").replaceAll("(src/main/kotlin/|/.kt)","").replaceAll("/", ".")} )
#set( $basePackage = ${basePath.replaceAll("(src/main/kotlin/|/*.kt)","").replaceAll("/", ".")} )
package $package
#set ($typeMapping = {
    "Integer" : "Int",
    "String" : "String",
    "Boolean" : "Boolean",
    "Object" : "Map<Object, Object>",
    "Void" : "Void",
    "DateTime" : "org.joda.time.DateTime"
})

#foreach(${import} in ${dto.ownCrudImports})
import ${package}.dto.${import.name.pascalCase}
#end
#foreach(${import} in ${dto.externalCrudImports})
import ${basePackage}.${import.crud.snakeCaseLowercase}.dto.${import.name.pascalCase}
#end

data class ${dto.name.pascalCase}(
    #foreach(${var} in ${dto.properties})
    val ${var.name}: $!{typeMapping.getOrDefault(${var.type.pascalCase}, ${var.type.pascalCase})}#if(!$var.optional)?#end,
    #end
)